.logo-icon4 {
  height: 52px;
  width: 182px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.home2 {
  left: 0;
  width: 66px;
  min-width: 66px;
  cursor: pointer;
}
.about2,
.contact2,
.home2 {
  text-decoration: none;
  position: absolute;
  top: 0;
  letter-spacing: 0.2em;
  line-height: 36px;
  text-transform: uppercase;
  color: inherit;
  display: flex;
  align-items: center;
  height: 36px;
}
.about2 {
  left: 122px;
  width: 75px;
  min-width: 75px;
  cursor: pointer;
}
.contact2 {
  left: 254px;
  width: 101px;
  min-width: 101px;
}
.navigation {
  margin: 0;
  align-self: stretch;
  height: 36px;
  position: relative;
  text-align: left;
  font-size: var(--h4-size);
  color: var(--color-gray-200);
  font-family: var(--font-montserrat);
}
.navigation-wrapper {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child11 {
  height: 50px;
  width: 150px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  border: 2px solid var(--color-deepskyblue);
  box-sizing: border-box;
  display: none;
}
.log-in2 {
  text-decoration: none;
  position: relative;
  font-size: var(--h4-size);
  letter-spacing: 0.2em;
  line-height: 36px;
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  color: var(--color-deepskyblue);
  text-align: left;
  z-index: 1;
}
.frame-parent7,
.rectangle-parent7 {
  flex-direction: row;
  justify-content: flex-start;
}
.rectangle-parent7 {
  cursor: pointer;
  border: 2px solid var(--color-deepskyblue);
  padding: var(--padding-9xs) var(--padding-15xl) var(--padding-9xs)
    var(--padding-21xl);
  background-color: var(--color-white);
  height: 50px;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}
.rectangle-parent7:hover {
  background-color: var(--color-gainsboro);
  border: 2px solid var(--color-cornflowerblue);
  box-sizing: border-box;
}
.frame-parent7 {
  align-self: stretch;
  gap: var(--gap-41xl);
}
.frame-header,
.frame-parent7,
.frame-wrapper1,
.logo-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper1 {
  width: 564px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.frame-header,
.logo-container {
  flex-direction: row;
}
.logo-container {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-header {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl) 0 var(--padding-29xl);
  box-sizing: border-box;
}
.header-background-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.contact3 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  z-index: 1;
}
.contact-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-232xl) 0 var(--padding-231xl);
}
.home-contact {
  align-self: stretch;
  position: relative;
  font-size: var(--h4-size);
  z-index: 1;
}
.contact-page-inner,
.header1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.header1 {
  flex-direction: column;
  padding: var(--padding-119xl) var(--padding-263xl) var(--padding-119xl)
    var(--padding-264xl);
  position: relative;
  gap: var(--gap-9xs);
}
.contact-page-inner {
  flex-direction: row;
  padding: 0 var(--padding-3xs) 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--h1-size);
  color: var(--color-white);
  font-family: var(--h5);
}
.get-started {
  margin: 0;
  width: 155.3px;
  position: relative;
  font-size: inherit;
  line-height: 36px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  transform: rotate(0.1deg);
  flex-shrink: 0;
}
.get-in-touch {
  margin: 0;
}
.get-in-touch-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 64px;
  font-weight: 700;
  font-family: inherit;
}
.get-in-touch-with-us-were-he-wrapper {
  width: 741px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 31.6px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.fb-icon {
  width: 50px;
  height: 49.7px;
  position: relative;
}
.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.top-content,
.top-content-wrapper,
.touch-info {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.touch-info {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  gap: var(--gap-xl);
  font-size: 50px;
  font-family: var(--font-montserrat);
}
.top-content,
.top-content-wrapper {
  justify-content: flex-start;
}
.top-content {
  flex: 1;
  flex-direction: column;
  gap: 0.4px;
}
.top-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 11px 36.2px var(--padding-10xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--sub-heading);
}
.your-name {
  position: relative;
  line-height: 36px;
}
.input-field,
.input-fields {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input-field {
  align-self: stretch;
  width: 415px;
  border-bottom: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-shrink: 0;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-11xl);
}
.input-fields {
  overflow-x: auto;
  gap: var(--gap-10xl);
}
.input-field3 {
  border: 0;
  background-color: transparent;
  height: 146px;
  width: 1299px;
  outline: 0;
  border-bottom: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-3xs);
  font-family: var(--sub-heading);
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.fields-wrapper,
.form-wrapper,
.input-field3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.fields-wrapper {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-17xl);
}
.form-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.text {
  flex: 1;
  position: relative;
  font-size: var(--sub-heading-size);
  font-weight: 600;
  font-family: var(--sub-heading);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  min-width: 140px;
}
.arrow-right-icon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.arrow-right-wrapper,
.form-container,
.text-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrow-right-wrapper {
  flex-direction: column;
  padding: 1.5px 0 0;
}
.form-container,
.text-parent {
  box-sizing: border-box;
  max-width: 100%;
}
.text-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xl) var(--padding-25xl) var(--padding-9xl) 45px;
  background-color: var(--color-deepskyblue);
  width: 334px;
  border-radius: 70px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-8xs);
}
.form-container {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 114px;
  gap: 70px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--sub-heading);
}
.section-4-inner {
  width: 1300px;
  height: 482px;
  position: relative;
  border-radius: var(--br-31xl);
  background: linear-gradient(180deg, #c3dfed, #dff0f7);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.mask-group-icon2 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.find-your-best-container2,
.we-provide-a-container3 {
  margin: 0;
  position: relative;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.find-your-best-container2 {
  font-size: inherit;
}
.we-provide-a-container3 {
  width: 486px;
  font-size: var(--sub-heading-size);
  line-height: 36px;
  color: var(--color-steelblue);
}
.frame-child12 {
  height: 50px;
  width: 213px;
  position: relative;
  border-radius: var(--br-sm);
  background-color: var(--color-deepskyblue);
  display: none;
}
.contact-us4 {
  position: relative;
  font-size: var(--h4-size);
  letter-spacing: 0.2em;
  line-height: 36px;
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangle-parent8,
.section-42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) var(--padding-15xl) var(--padding-6xs)
    var(--padding-23xl);
  background-color: var(--color-deepskyblue);
  border-radius: var(--br-sm);
  flex-direction: row;
  z-index: 2;
}
.rectangle-parent8:hover {
  background-color: var(--color-cornflowerblue);
}
.section-42 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background: linear-gradient(180deg, #c3dfed, #dff0f7);
  flex-direction: column;
  padding: var(--padding-70xl) var(--padding-xl) var(--padding-46xl)
    var(--padding-67xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-18xl);
  max-width: 100%;
}
.logo-icon5 {
  width: 182px;
  height: 52px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lorem-ipsum-dolor2 {
  position: relative;
  line-height: 31px;
}
.facebook-original2 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.social-icons-bottom {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer-about,
.social-links1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-links1 {
  width: 176px;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.footer-about {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-10xs);
}
.all-rights-reserved2 {
  position: relative;
  font-size: var(--font-size-smi);
}
.footer-content2,
.logo-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logo-parent1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.footer-content2 {
  width: 410px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.take-a-tour2 {
  position: relative;
  line-height: 36px;
  display: inline-block;
  min-width: 113px;
}
.features-partners-pricing-container2 {
  width: 82px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 52px;
  display: inline-block;
}
.navigation-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.our-company2 {
  position: relative;
  line-height: 36px;
}
.about-us-agents-container2 {
  width: 100px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 52px;
  display: inline-block;
}
.company-links1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.subscribe-to-get2,
.subscribe2 {
  position: relative;
  display: inline-block;
}
.subscribe2 {
  line-height: 36px;
  min-width: 101px;
}
.subscribe-to-get2 {
  width: 255px;
  font-size: var(--font-size-sm);
  line-height: 23px;
  color: var(--color-lightslategray);
}
.frame-child13 {
  height: 54px;
  width: 277px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 2px solid var(--color-lavender-200);
  box-sizing: border-box;
  display: none;
}
.email-input1 {
  width: 101px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray);
}
.submit-circle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-deepskyblue);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.submit-button-item {
  position: absolute;
  top: 11.9px;
  left: 12px;
  width: 11px;
  height: 10.7px;
  z-index: 2;
}
.submit-button1 {
  height: 34px;
  width: 34px;
  position: relative;
}
.rectangle-parent9 {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 2px solid var(--color-lavender-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-6xs)
    var(--padding-smi);
  min-height: 54px;
  gap: var(--gap-xl);
}
.subscription1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-4xl-5);
  min-width: 180px;
}
.company-info2,
.footer-bottom1,
.subscription1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.company-info2 {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-45xl);
  min-width: 313px;
  max-width: 100%;
}
.footer-bottom1 {
  gap: var(--gap-75xl);
  min-width: 688px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.footer-bottom1,
.footer-top1,
.footer1 {
  flex-direction: row;
  max-width: 100%;
}
.footer-top1 {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer1 {
  align-self: stretch;
  padding: 0 var(--padding-31xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-lightslategray);
  font-family: var(--font-montserrat);
}
.bottom-content,
.contact-page,
.footer1,
.section-4-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.section-4-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-18xl);
  max-width: 100%;
}
.bottom-content,
.contact-page {
  box-sizing: border-box;
}
.bottom-content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-smi);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-35xl);
  color: var(--color-gray-200);
  font-family: var(--font-montserrat);
}
.contact-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-25xl) var(--padding-41xl) 110px 67px;
  gap: 58px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1300px) {
  .frame-header,
  .header1 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .header1 {
    padding-left: var(--padding-122xl);
    padding-right: var(--padding-122xl);
  }
  .footer-bottom1,
  .footer-content2 {
    flex: 1;
  }
  .footer-top1 {
    flex-wrap: wrap;
  }
  .footer1 {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .touch-info {
    flex-wrap: wrap;
  }
  .footer-bottom1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .navigation-wrapper {
    display: none;
  }
  .frame-parent7 {
    gap: var(--gap-11xl);
  }
  .contact3 {
    font-size: var(--font-size-19xl);
  }
  .contact-wrapper,
  .header1 {
    padding-left: var(--padding-106xl);
    padding-right: var(--padding-106xl);
    box-sizing: border-box;
  }
  .header1 {
    padding-left: var(--padding-51xl);
    padding-right: var(--padding-51xl);
  }
  .get-in-touch-container {
    font-size: 40px;
    line-height: 51px;
  }
  .fields-wrapper {
    gap: var(--gap-lg);
  }
  .form-container {
    gap: 35px;
    padding-bottom: 74px;
    box-sizing: border-box;
  }
  .find-your-best-container2 {
    font-size: var(--font-size-24xl);
  }
  .section-42 {
    gap: var(--gap-lg);
    padding-left: var(--padding-24xl);
    padding-top: var(--padding-39xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .footer-content2 {
    min-width: 100%;
  }
  .company-links1 {
    flex: 1;
  }
  .company-info2 {
    gap: var(--gap-13xl);
    flex-wrap: wrap;
  }
  .footer-bottom1 {
    gap: var(--gap-28xl);
    flex-wrap: wrap;
  }
  .section-4-parent {
    gap: var(--gap-lg);
  }
  .contact-page {
    gap: var(--gap-10xl);
    padding-left: 33px;
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .contact3 {
    font-size: var(--font-size-10xl);
  }
  .contact-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .header1 {
    padding: var(--padding-71xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .get-started {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .get-in-touch-container {
    font-size: var(--font-size-11xl);
    line-height: 38px;
  }
  .your-name {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .text {
    font-size: var(--font-size-lg);
  }
  .text-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .form-container {
    gap: var(--gap-mid);
  }
  .find-your-best-container2 {
    font-size: var(--font-size-13xl);
  }
  .we-provide-a-container3 {
    font-size: var(--font-size-lg);
    line-height: 29px;
  }
  .section-42 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .our-company2,
  .subscribe2,
  .take-a-tour2 {
    font-size: var(--h4-size);
    line-height: 29px;
  }
  .rectangle-parent9 {
    flex-wrap: wrap;
  }
  .footer-bottom1 {
    gap: var(--gap-4xl);
  }
}
